<section class="section-404" >
    <img src="/images/404.png" alt="" style="width: 50px" />
</section>

<section style="width: 100%; text-align: center; color:#2B5399" >

    <h3 style="color:#2B5399; font-size: 1.8em">404 ERROR</h3>
    <h2 style="color:#2B5399;  font-size: 2.5em">Page Not Found</h2>
    <p>We’re sorry, the page you requested for could not be found.</p>
    <p>
        <br/>
        <a class="button button-primary" href="/">
            Back To Home
        </a>
    </p>

</section>

