<a class="socialIcon" rel="me" href="https://techpolicy.social/@DTinitiative" target="blank">
  <img height="24px" src="/images/mastodon-icon.png" alt="Blue square with a white M in it that represents the social media service Mastodon"/>
</a>
<a class ="socialIcon" rel="me" href="https://www.linkedin.com/company/data-transfer-initiative/" target="blank">
  <img height="24px" src="/images/linkedIn-icon.png" alt="Blue square with the word 'in' that represents the social media service LinkedIn"/>
</a>
<a class="socialIcon" rel="me" href="/feed.xml" target="_blank">
  <img height="24px" src="/images/rss+feed+24px.png" alt="The abstract icon with radiating quarter-rings that means transmission or feed"/>
</a>
<a class="socialIcon" href="https://github.com/dtinit" target="blank" rel="noopener nofollow me">
  <img height="24px" src="/images/github-mark.png" alt="The round black-and-white Invertocat logo representing GitHub" />
</a>
