<aside class="social-icon-container">
  <a class="social-icon" rel="me" href="https://techpolicy.social/@DTinitiative" target="_blank">
    <img height="25px" src="/images/icons/mastodon-white.svg" alt="DTInit account on Mastodon" />
  </a>
  <a class="social-icon" href="/feed.xml">
    <img height="25px" src="/images/icons/rss-outline.svg" alt="View our RSS feed"/>
  </a>
  <a class="social-icon" href="https://github.com/dtinit" target="_blank" rel="noopener nofollow me">
    <img height="25px" src="/images/icons/github-outline.svg" alt="DTInit on Github" />
  </a>
  <a class="social-icon" rel="me" href="https://www.linkedin.com/company/data-transfer-initiative/" target="_blank">
    <img height="25px" src="/images/icons/linkedIn-outline.svg" alt="DTInit on LinkedIn"/>
  </a>
</aside>
