<a class="socialIcon" rel="me" href="https://techpolicy.social/@DTinitiative" target="blank">
  <img height="24px" src="/images/mastodon-icon.png" alt="Blue square with a white M in it that represents the social media service Mastodon"/>
</a>
<a class ="socialIcon" rel="me" href="https://www.linkedin.com/company/data-transfer-initiative/" target="blank">
  <img height="24px" src="/images/linkedIn-icon.png" alt="Blue square with the word 'in' that represents the social media service LinkedIn"/>
</a>
<a class="socialIcon" href="https://twitter.com/DTinitiative" target="blank" rel="noopener nofollow me">
  <img height="24px" src="/images/twitter-icon.png" alt="A black X representing the social media service formerly known as Twitter" />
</a>
