---
---
// NOTE: A lot of the styles start with a mobile-first mentality and then make adjustments in the media queries at bottom for larger screens

html {
  --white: #fff;
  --black: #000;
  --transparent: rgba(255, 255, 255, 0);

  --golden-yellow: #FFCE4B;
  --orange: #F78F31;

  --light-green: #EDFFF5;
  --contrast-green: #3BB54A;
  --logo-green: #0B9A33;

  --background-gray: #F0F0F0;
  --lighter-gray: #F4F4F4;
  --dark-gray: #505050;

  --blue: #0b8ce9;
  --dark-blue: #2B5399;

  --header-color-primary: var(--black);
  --header-color-secondary: var(--black);
  --link-color: var(--logo-green); // This should really be different than primary color otherwise any text with it will be link-ish
  --link-focus-color: var(--blue);
  --text-color: var(--black);

  // Old colors
  --light-gray: #767676;
  //--dark-gray: #657786;
  --dark-blue: #053975;
  --primary-color: #0e3ec1;
}

/* || GENERAL STYLES */

body {
  color: var(--text-color);
  display: grid;
  grid-template-columns: 100vw;
  grid-template-areas:
  "header"
  "nav"
  "hero"
  "main"
  "footer";
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  margin: 0;
  min-height: 100vh;
  * {
    box-sizing: border-box;
  }

}

/* || TYPOGRAPHY */

h1,
h2,
h3,
h4,
h5 {
  color: var(--header-color-primary);
  font-weight: 700;
}

h1 {
  font-size: 2.0rem;
  line-height: 2.6rem;
  margin-block-end: 30px;
  &.extraLarge {
    font-size: 3rem;
    line-height: 3.6rem;
  }
}

h2 {
  font-size: 1.8rem;
  line-height: 2.4rem;
  margin-block-end: 24px;
  > a {
    font-size: inherit;
  }
}

h3 {
  font-size: 1.65rem;
  line-height: 2.1rem;
  margin-block-end: 20px;
}

h4 {
  font-size: 1.4rem;
  line-height: 1.8rem;
}

h5 {
  font-size: 1.25rem;
  line-height: 1.5rem;
}

.heading-subtitle {
  font-size: 1.5rem;
  line-height: 2.1rem;
}

p, li {
  letter-spacing: 0.03125rem;;
  line-height: 1.4rem;
}

p:last-child {
  margin-block-end: 0;
}

.list-heading {
  display: block;
  font-size: 1.25rem;
  font-weight: 500;
  line-height: 1.875rem;
  & + p {
    margin-block-end: 0;
  }
}

small {
  font-size: 0.75rem;
  line-height: 1.125rem;
}

strong {
  font-weight: 500;
}

hr {
  border-color: var(--contrast-green);
  border-width: 2px;
  margin-block: 20px;
}

.tag-list {
  padding-left: 0;
}

.tag-item {
  background-color: var(--lighter-gray);
  display: inline-block;
  font-size: 0.875rem; 
  font-weight: 500;
  line-height: 1.3125rem;
  padding-block: 4px;
  padding-inline: 8px;
  text-transform: capitalize;
  & + .tag-item {
    margin-left: 4px;
  }
}

/* || MAIN LAYOUT AREAS */

.main-header,
.main-nav {
  &.dark {
    background-color: var(--black);
  }
  padding: 6px 12px;
}

.main-header {
  grid-area: header;
}

.header-logo {
  display: inline-block;
  img {
    cursor: inherit;
    max-height: 62px;
    max-width: 100%;
  }
}

.main-nav {
  grid-area: nav;
  font-weight: 500;
  &.light {
    :where(.nav-item a:not(.active)) {
      color: var(--black);
    }
  }
  &.dark {
    :where(.nav-item a:not(.active)) {
      color: var(--white);
    }
  }
}

.nav-list {
  display: flex;
  gap: 10px;
  justify-content: space-around;
  margin: 0;
  padding-left: 0;
  text-transform: uppercase;
  // Break this glass when nav item count is greater than 4
  // align-items: center;
  // flex-direction: column;
}

.nav-item {
  list-style: none;
  a {
    text-decoration: none;
    &:hover,
    &:focus {
      color: var(--link-color);
    }
  }
}

.hero {
  grid-area: hero;
  position: relative;
}

.hero-about {
  padding-inline: 20px;
  padding-block: 30px 60px;
  .hero-header {
    font-size: 2rem;
    margin-top: 0;
  }
  > img {
    display: none;
  }
  &::after {
    content: " ";
    background: linear-gradient(180deg, var(--dark-blue) 0 33%, var(--golden-yellow) 33% 66%, var(--orange) 66% 100%);
    bottom: 0;
    height: 27px;
    left: -2px;
    position: absolute;
    transform: rotate(3deg);
    width: calc(100vw + 3px);
    z-index: 1;
  }
}

.hero-home {
  background-clip: padding-box;
  background-image: url('/images/unsplash_GsZLXA4JPcM.png');
  background-position: bottom;
  border-bottom-left-radius: 76%;
  border-bottom: solid 12px transparent;
  height: 416px;
  margin-block-end: 24px;
  padding-block: 64px;
  position: relative;

  &:before {
    content: '';
    position: absolute;
    top: 0; right: 0; bottom: 0; left: 0;
    z-index: -1;
    margin-left: -12px;
    margin-bottom: -12px;
    margin-right: -12px;
    border-radius: inherit;
    background: linear-gradient(210deg, var(--black) 44%, var(--contrast-green) 58%);
  }

  > .hero-header {
    color: var(--white);
    font-size: 2rem;
    line-height: 2.5rem;
    font-weight: 500;
    margin-block-start: 0;
    padding-inline: 75px;
    transform: rotate(4deg);
    > img {
      display: none;
    }
  }
}

.hero-work {
  background-color: var(--black);
  color: var(--white);
  margin-block-end: 50px;
  padding-inline: 60px;
  padding-block: 64px;
  > .hero-header {
    color: var(--white);
    margin-block: 0;
    white-space: nowrap;
  }
  > p {
    font-size: 1.5rem;
    line-height: 2.25rem;
    max-width: 880px;
  }
}


.main-content {
  grid-area: main;
  margin-inline: auto;
  max-width: 1320px;
  padding-inline: 20px;
}

.main-footer {
  background-color: var(--black);
  color: var(--white);
  grid-area: footer;
  margin-top: 36px;
  padding: 80px 64px;
  a {
    color: var(--white);
  }
}

.social-icon-container {
  text-align: right;
}

section + .slanted-background {
  margin-top: 120px;
}

.slanted-background {
  --a: 3deg;
  $problematic-code: "0//9999px";
  border-image: conic-gradient(var(--slanted-bg-color, var(--background-gray)) 0 0) fill #{$problematic-code};
  clip-path: 
    polygon(
      -9999px calc(100% - tan(var(--a))*9999px),
        9999px calc(100% + tan(var(--a))*9999px),
      calc(100% + 9999px) calc(tan(var(--a))*9999px),
      calc(100% - 9999px) calc(tan(var(--a))*-9999px)
    );
  margin-bottom: 100px;
  margin-top: 11px;
  padding-block: 36px 90px;
  > h2 {
    margin-top: 0;
  }
}

.full-line {
  padding-block: 10px;
  --b: 9px;
  --g: linear-gradient(#C02942 33%,#0000 0 66%,#53777A 0);
  border-image: var(--g) fill 0/calc(100% - var(--b)) 0 0/0 100vw 0 0
}

/* || BUTTONS AND LINKS */

:where(a),
.button-link {
  color: var(--link-color);
  &:hover, &:focus {
    color: var(--link-focus-color);
  }
}

.button {
  border-radius: 4px;
  font-size: 1.125rem;
  font-weight: 500;
  line-height: 1.6875rem;
  padding-block: 12px;
  padding-inline: 24px;
  text-align: center;
  text-transform: uppercase;
  &:is(a) {
    display: inline-block;
  }
  &:not(.button-outline) {
    background: var(--logo-green);
    border: 2px solid transparent;
    color: var(--white);
    &:hover,
    &:focus {
      background-color: var(--transparent);
      border: 2px solid var(--logo-green);
      color: var(--logo-green);
    }
  }
  &-outline {
    background-color: var(--transparent);
    border: 2px solid var(--logo-green);
    color: var(--logo-green);
    &:hover,
    &:focus {
      background-color: var(--logo-green);
      color: var(--white);
    }
  }
  &:is(a) {
    text-decoration: none;
  }
}

.button-link {
  background: none;
  border: none;
  font-size: 1rem;
  padding: 0;
  text-decoration: underline;
}

/* || IMAGES */

.header-icon,
.list-icon {
  margin-inline-end: 10px;
}

.header-icon {
  vertical-align: middle;
}

.list-icon {
  vertical-align: text-bottom;
}

.social-icon {
  display: inline-block;
  & + .social-icon {
    margin-left: 14px;
  }
}

.team-avatar {
  border-radius: 10px;
  height: 288px;
  object-fit: cover;
  width: 296px;
}

.lucide {
  height: 50px;
  stroke-width: 1px;
  width: 50px;
}

/* || FORM ELEMENTS */

label > .text-input {
  display: block;
  margin-top: 4px;
}

.text-input {
  border: 1px solid var(--black); 
  line-height: 1.5rem;
  padding: 12px;
  width: 100%;
  &::placeholder {
    color: var(--dark-gray);
  }
  & + .text-input {
    margin-left: 4px;
  }
}

/* || UTILITIES */

details {
  padding-block: 20px;
  &:first-of-type,
  & + details {
    border-top: 1px solid var(--black);
  }
  &:last-of-type {
    border-bottom: 1px solid var(--black);
  }
}

summary {
  cursor: pointer;
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 700;
  line-height: 1.6875rem;
}

.emphasis {
  color: var(--logo-green);
}

.video-wrapper,
.video-description {
  margin-inline: auto;
  max-width: 1100px;
}

.video-description {
  font-size: 1.125rem;
  line-height: 1.5rem;
  margin-block-start: 18px;
}

.video-embed {
  aspect-ratio: 16 / 9;
  border: 2px solid var(--light-gray);
  height: auto;
  width: 100%;
}

/* || POSTS */

.recent-posts-container {
  margin-block-end: 64px;
  > p {
    margin-block: 10px 24px;
  }
}

.recent-post-header {
  font-size: 1.5rem;
  line-height: 2.1rem;
  margin-block: 0;
  text-wrap: balance;
}

.recent-post-img {
  height: 300px;
  width: 100%;
  object-fit: contain;
  &:not(:first-child) {
    margin-top: 30px;
  }
}

/* || MISC */

.home-intro-text {
  p:not(.home-intro-subsection > p) {
    font-size: 1.125rem;
  }
}

.home-intro-subsection {
  display: grid;
  grid-template-rows: repeat(3, auto);
  justify-items: center;
  > .list-heading {
    margin-block-end: 0;
  }
  > p + .lucide {
    margin-block-start: 16px; 
  }
}

.members-container {
  margin-inline: auto;
  max-width: 1000px;
  text-align: center;
  > :last-child {
    display: flex;
    column-gap: 80px;
    justify-content: center;
    margin-block-start: 48px;
  }
}

.ourwork-container {
  margin-inline: auto;
  //max-width: 1000px;
  text-align: left;
  > :last-child {
    display: flex;
    column-gap: 80px;
    justify-content: center;
    margin-block-start: 48px;
  }
}

.home-learn-more {
  align-items: center;
  column-gap: 30px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-block: 40px 80px;
  > span {
    font-size: 2rem;
    font-weight: 700;
    line-height: normal;
  }
}

.team-container {
  align-items: end;
  display: grid;
  grid-template-columns: 1fr;
  margin-top: 60px;
  row-gap: 24px;
  h3 {
    font-size: 1.25rem;
    line-height: 1.875rem;
    margin-block: 0
  }
  .team-subtitle {
    font-size: 1.125rem;
  }
}

.subscribe-container {
  > img {
    display: none;
  }
  .button {
    margin-top: 12px;
  }
}

.our-work-intro-container {
  margin-block-end: 42px;
}

.our-work-h3 {
  font-size: 1.45rem;
}

.our-work-nav {
  margin-block-start: 24px;
  margin-inline: auto;
  .work-nav-list {
    display: flex;
    flex-direction: column;
    margin-block: 0;
    padding-inline: 0;
    row-gap: 14px;
    > li {
      font-weight: 400;
      letter-spacing: normal;
      list-style: none;
    }
  }
  .list-icon {
    height: 36px;
  }
}

// OLD STYLES TO BE REMOVED ONCE REPLACEMENTS ARE FINISHED
blockquote {
  cite::before {
    content: "—"
  }
  p {
    border: 4px double var(--lighter-gray);
    padding: 16px;
    &::before {
      content: "\201C";
    }
    &::after {
      content: "\201D";
    }
  }
}

article.post {
  margin-top: 40px;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.post-image {
  margin: 8px 16px 16px 8px;
}

.post-image {
  width: 200px;
  height: 140px;
  overflow: hidden;
}

.post-image img {
  width: 100%;
  height: auto;
}

.post-text-stuff {
  width:75%;
}

.post-title {
  margin-bottom: 0px;
}

.post-meta {
  align-items: center;
  color: var(--light-gray);
  display: flex;
  gap: 16px;
  justify-content: space-between;
}

.post-date {
  font-size: 0.8rem;
}

.post-tags {
  margin-bottom: 0;
  margin-top: 0;
  padding: 0;
}

.post-tags > li {
  background-color: var(--lighter-gray);
  border-radius: 2px;
  display: inline-block;
  font-size: 0.8rem;
  padding: 5px 20px;
  + li {
    margin-left: 10px;
  }
}

// TODO: Fix contrast and make link look interactive
.post-tags a {
  color: var(--dark-gray);
  font-size: 0.8rem;
  font-weight: 300;
  &:hover, :focus {
    font-size: 0.8rem;
  }
}

.posts-by-tag {
  li {
    list-style: none;
  }
  > li + li {
    margin-top: 10px;
  }
}

table {
  border-spacing: 20px;
}


.tag-anchor {
  font-weight: 300;
}

.blog-seperator{
  border-bottom: 1px solid #e6e6e6;
  padding: 0 0 12px;
  margin:0 0 12px;
}

// MEDIA QUERIES

@media (min-width: 850px) {
  body {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    grid-template-areas: 
    "header nav"
    "hero hero"
    "main main"
    "footer footer";
  }

  h1 {
    font-size: 1.8rem;
    line-height: 3rem;
  }

  h2 {
    font-size: 1.5rem;
    line-height: 2.45rem;
  }

  h3 {
    font-size: 1.3rem;
    line-height: 2.3rem;
    margin-block-end: 20px;
  }

  h4 {
    font-size: 1.1rem;
    line-height: 2.1rem;
  }

  .main-header,
  .main-nav {
    padding-left: 40px;
    padding-right: 40px;
  }

  .main-nav {
    align-items: center;
    display: flex;
    font-size: 1.125rem;
    justify-content: flex-end;
  }

  .nav-list {
    gap: 42px;
  }

  .main-content {
    padding-inline: 60px;
  }

  .hero-about {
    column-gap: 30px;
    display: flex;
    padding-inline: 60px;
    padding-block: 60px 60px;
    > * {
      flex: 1 1 50%;
    }
    > .hero-header {
      font-size: 2.0rem;
      line-height: 3.5rem;
    }
    > img {
      display: initial;
    }
  }

  .hero-home {
    background-position: left bottom;
    background-repeat: no-repeat;
    border-bottom-left-radius: 139%;
    border-bottom-right-radius: 36%;
    border-right: solid 12px transparent;
    height: 598px;
    margin-block-end: 84px;
    padding-block: 90px;
  
    &:before {
      background: linear-gradient(204deg, var(--black) 44%, var(--contrast-green) 54%);
    }

    > .hero-header {
      font-size: 2.0rem;
      line-height: 3.5rem;
      margin-inline: auto;
      position: relative;
      width: max-content;
      > img {
        display: initial;
        position: absolute;
        &:first-of-type {
          right: 178px;
          top: -54px;
          transform: rotate(-3deg);
        }
        &:last-of-type {
          max-width: 470px;
          right: 258px;
          top: 118px;
          transform: rotate(-3deg);
        }
      }
    }
  }

  .hero-work {
    align-items: center;
    display: flex;
    column-gap: 80px;
    margin-block-end: 60px;
    padding-block: 100px;
    > p {
      font-size: 1.75rem;
      line-height: 2.625rem;
    }
  }

  .home-intro-container {
    display: flex;
    column-gap: 80px;
    > h1 {
      margin-block-start: 0;
    }
  }

  .home-intro-text {
    > p:not(.home-intro-subsection > p) {
      margin-block-start: 0;
    }
  }

  .home-intro-subsection {
    grid-auto-flow: column;
    justify-items: left;
    margin-block-start: 22px;
    > p + .lucide {
      margin-block-start: 0;
    }
  }

  .slanted-background {
    margin-top: 31px;
  }

  .home-learn-more {
    flex-wrap: nowrap;
    > span {
      font-size: 2rem;
    }
  }

  // Mailchimp style override
  .mc-field-group {
    display: inline-block;
    margin-inline-end: 12px;
  }

  .subscribe-container {
    align-items: center;
    display: flex;
    column-gap: 80px;
    .button {
      margin-top: 0;
    }
    > img {
      display: initial;
    }
  }

  section:has(.our-work-intro-container) {
    > h2 {
      margin-block: 0;
    }
  }

  .our-work-intro-container {
    column-gap: 60px;
    display: flex;
  }

  .our-work-h3 + p {
    font-size: 1.5rem;
    line-height: 2.1rem;
  }

  .our-work-intro {
    flex: 1 1 50%;
    margin-block: 0;
    > li {
      font-size: 1.5rem;
      letter-spacing: initial;
      line-height: 2.1rem;
    }
  }

  .our-work-nav {
    margin-block: 0;
    margin-inline: initial;
    .work-nav-list {
      row-gap: 18px;
      > li {
        font-size: 1.75rem;
        line-height: 2.1rem;
        white-space: nowrap;
      }
    }
    .list-icon {
      height: initial;
    }
  }

  .recent-posts-container {
    column-gap: 32px;
    display: grid;
    grid-auto-flow: column;
    grid-template-rows: repeat(5, auto);
  }

  .recent-post-img {
    object-fit: cover;
  }

  .team-container {
    column-gap: 32px;
    grid-template-columns: auto 1fr;
    row-gap: 40px;
  }

  .text-input {
    min-width: 354px;
  }

  .grid {
    display: flex;
  }
  .col-1-2 {
    flex: 1;
  }
  .cole-1-2:last-child {
    margin-left: 20px;
  }


.blog-seperator{
  border-bottom: 1px solid #e6e6e6;
  padding: 0 0 12px;
  margin:0 0 12px;
}


}
